.app_green_theme {
    --bg-color: #54ce83;
    --inverted-bg-color: #dacf9c;
    --primary-color: #f4fbf7;
    --secondary-color: #54c238;
    --inveted-primary-color: #54c238;
    --inveted-secondary-color: #f4fbf7;
    --error-color: #d33d3d;
}
